body {
    font-family: Calibri;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}


.navbar {
    background-color: rgb(3, 10, 112);
    color: white;
    display: flex;

}

.logo {
    width: 50%;
    padding: 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.link {
    width: 50%;
    padding: 20px;
}

.link-button {
    float: right
}

.link-button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.content {
    display: flex;
}


.leftside {
    width: 20%;
}

.data img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.data h3 {
    margin: 0px;
    border: 1px solid lightgray;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
}

.data h4 {
    margin: 0px;
    border: 1px solid lightgray;
    padding: 10px;
}

.edit a {
    text-decoration: none;
    color: blue;
}

.edit1 a {
    color: rgba(48, 48, 48, 0.753);
    font-size: 15px;
}

.myprofile a {
    color: black;
    text-decoration: none;
    font-size: medium;
}


.midside {
    width: 60%;
}

.news h2 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.news {
    padding: 20px;
}

.news img {
    width: 100%;
    height: 400px;
}

.news p {
    text-align: justify;
    padding: 10px;
}

.button {
    padding: 10px;
}

.btn {
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
}


.rightside {
    width: 20%;
}

.others h4 {
    padding: 20px;
    border: 1px solid lightgray;
    margin: 0px;
}

.time {
    float: right;
    color: lightgray;
}

.other2 {
    font-size: small;
    color: gray;
}

.other3 {
    font-size: x-small;
    color: gray;
}


